.blanks {
  text-decoration: underline;
  font-size: 50px;
  color: white;
  border-bottom: 1px solid black;
}

body {
  font-family: sans-serif;
}

div#blanks {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
